body {

    font-family: 'Verdana';
    background-color: #D3D3D3;
    
  
  }
  .navbar {

    background-color: black;
  }
  .navbar a {
  
    color: white;
  }
  .empdetails{
      color: red;
      
      padding-left: 30px;
    
  }
  .blc{
      color: black;
  }
  #h{
    border: 2px solid red;
  }

